@import "tailwindcss";

@theme {
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background-color: #0a0a0a;
}

.no-scrollbar {
  scrollbar-width: none;
}

html {
  overflow-y: auto;
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


